@charset "UTF-8";

/* Estilo do cabeçalho */
.menuHeader {
    display: flex;
    background-color: #2d2d2dec;
    padding: 15px;
    width: 100%;
    height: 90px;
    position: fixed;
    align-items: center;
}

/* Estilo da imagem do menu */
.menuImage {
    width: 212px;
    height: fit-content;
}

@media screen and (max-width: 340px) {
    .menuImage {
        width: 160px;
        height: fit-content;
    }
}

/* Estilo do menu de navegação */
.menuNav {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.2s ease-in-out;
}

.menuNav.active {
    max-height: calc(100svh - 90px);
}

.menuLinkList {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #414141;
}

.menuLinkList > li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 15px;
}

.menuLinkList a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: #ffffff00;
}

.menuLinkList > li:nth-child(odd) {
    background-color: #414141;
}

.menuLinkList > li:nth-child(even) {
    background-color: #2d2d2d;
}

.menuDashboardList {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #9A1914;
}

.menuDashboardList > li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 15px;
}

/* Estilo dos submenus */
.menuLinkList > .menuSubList {
    width: 100%;
    height: fit-content;
    padding: 0px 0;
}

.menuSubList > p {
    width: fit-content;
    padding: 25px 0;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: #ffffff00;
}

.menuSub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menuSubList.active .menuSub {
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}

.menuSub li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 15px;
}

.menuSub > li:nth-child(odd) {
    background-color: #9A1914;
}

.menuSub > li:nth-child(even) {
    background-color: #ffff;
}

.menuSub > li:nth-child(even) > a {
    color: #2d2d2d;
}

.menuSubSeta {
    display: block;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.menuSubList.active .menuSubSeta {
    transform: rotate(180deg);
}

/* Estilo do menu hamburguer mobile */
.menuHamburguer {
    width: 40px;
    height: 40px;
    background-color: #9A1914;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.719);
    border-radius: 25%;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
    padding: 4px;
    -webkit-tap-highlight-color: #ffffff00;
}

.menuHambLine {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
}

.menuNav.active + .menuHamburguer > .menuHambLine:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.menuNav.active + .menuHamburguer > .menuHambLine:nth-child(2) {
    opacity: 0;
}

.menuNav.active + .menuHamburguer > .menuHambLine:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}