@charset "UTF-8";

@keyframes rotation {
    0% {
        transform: rotate(32deg)
    }

    10% {
        transform: rotate(64deg)
    }

    20% {
        transform: rotate(96deg)
    }

    30% {
        transform: rotate(128deg)
    }

    40% {
        transform: rotate(160deg)
    }

    50% {
        transform: rotate(192deg)
    }

    60% {
        transform: rotate(224deg)
    }

    70% {
        transform: rotate(256deg)
    }

    80% {
        transform: rotate(288deg)
    }

    90% {
        transform: rotate(310deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

.menuHeader {
    display: flex;
    background-color: #2d2d2dec;
    padding: 15px;
    width: 100%;
    height: auto;
    position: fixed;
}

.menuImage {
    width: 212px;
    height: fit-content;
}

.menuNav {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.menuLinkList {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #414141;
}

.menuLinkList > li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 20px;
}

.menuLinkList a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menuLinkList > li:nth-child(odd) {
    background-color: #414141; /* Cor para os ímpares */
}

/* Estilizando os elementos pares */
.menuLinkList > li:nth-child(even) {
    background-color: #2d2d2d; /* Cor para os pares */
}

.menuDashboardList {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #9A1914;
}

.menuDashboardList > li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 20px;
}

.menuLinkList > .menuSubList {
    width: 100%;
    height: fit-content;
    padding: 0px 0;
}

.menuSubList > p {
    width: fit-content;
    padding: 25px 0;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.menuSub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

/* Estilo do submenu quando estiver visível */
.menuSubList.active .menuSub {
    max-height: 500px; /* ou outro valor adequado */
    transition: max-height 0.5s ease-in-out;
}

.menuSub li {
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    padding: 25px 0;
    font-size: 20px;
}

.menuSub > li:nth-child(odd) {
    background-color: #9A1914; /* Cor para os ímpares */
}

/* Estilizando os elementos pares */
.menuSub > li:nth-child(even) {
    background-color: #ffff;
}

.menuSub > li:nth-child(even) > a {
    color: #2d2d2d;
}

.menuSubSeta {
    display: block;
    transform: rotate(0turn);
    transition: transform 0.5s ease-in-out;
}

.menuSubList.active .menuSubSeta {
    transform: rotate(0.5turn);
}